*{
    margin: 0;
    padding: 0;
}


h6
{
	
}

.navbar {
    background-color: white;
	color: blue;
	font-family: 'Playfair Display', serif;
	line-height: 14px;
	font-size: 14px;
	letter-spacing: 0.0625em;
	text-align: center;
    height: 30px;
    width: 100%;
	padding-top: 15px;
    padding-left:0px;
    position: fixed;
    top: 0;
    left: 0;
}

body {
	font-family: 'Roboto', sans-serif;
    font-size: 15px;
	color: black;
    font-weight: normal;
    line-height: 18px;
}


/* HEADERS */
h1 {font-family: 'Roboto', sans-serif;
    font-size: 24px;
	line-height: 26px;
	letter-spacing: 0.0625em;
    text-align: center;
	font-weight: normal;
}
/* SUBHEADERS */
h2 {font-family: 'Roboto', sans-serif;
    font-size: 22px;
	line-height: 26px;
	letter-spacing: 0.09em;
    text-align: center;
	font-weight: normal;	
}

/* BODY */
h3 {font-family: 'Roboto', sans-serif;
    font-size: 20px;
	line-height:26px;
    font-weight: normal;
}

/* QUOTES */


h4 {
    font: 20px/26px 'Roboto', sans-serif;
	font-weight: 100;
	margin-left: 50px;
    padding-left: 15px
	
}

intext{font: 20px/26px 'Roboto', sans-serif;
	font-weight: 100;
	
}

/* FOOTNOTES */
h5	{
	font-family: 'Roboto', serif;
    font-size: 14px;
	color: black;
    font-weight: 100;
    line-height: 18px;
	text-align: center;
} 

sbb{
	font-family: 'Playfair Display', serif;
	    font-size: 24px;
		line-height: 26px;
		letter-spacing: 0.2em;
	    text-align: right;
}

sbs{
	font-family: 'Playfair Display', serif;
	    font-size: 22px;
		line-height: 26px;
		letter-spacing: 0.16em;
	    text-align: center;
}
subjective{
	font-family:'Playfair Display', serif;
    font-size: 20px;
	line-height: 26px;
    text-align: center;
	letter-spacing: 0.04em;
	font-weight: normal;  ;
}

quote{
    font: 20px/26px 'Playfair Display', serif;
    font-weight: bold;
}

.columns { 
    text-align: justify;
    text-justify: inter-word;
    -webkit-column-gap: 100px;
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-gap: 100px;
    -moz-column-count: 2; /* Firefox */
	column-count: 2;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 20px;
}
/* This makes the images scale to the full width of the page */
img {
    max-height: auto;
    max-width: 65%;
	padding-top: 0px;
	padding-bottom: 0px;
	border: 1px solid black;
}

#left, #right{
    font-size: 20px;
	font-color: black;
    position: fixed;
    left: 15px;
    top:50%;
}

#right{
    left: inherit;
    right: 20px;
}

header {
    font-size: 16px;
    text-align: center;
    padding-top: 20px;
}

a, a:hover, a:visited, a:active {
    color: #1419FF;
    text-decoration: none;
}

p {
    margin-top: 0;
}



/* macbook pro fullscreen */
@media screen and (max-width: 1024px) {
    .columns {
    -webkit-column-gap: 100px;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-gap: 100px;
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 20px;
    }
}

/* ipad - portrait */
@media screen and (max-width: 768px) {
    .columns {
    -webkit-column-gap: 100px;
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -webkit-column-width: 100px;
    -moz-column-gap: 100px;
    -moz-column-count: 1; /* Firefox */
    -moz-colimn-width: 100px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 20px;
    }
    header {
        margin-left: 50px;
        margin-right: 50px;
    } 
}

/* iphone - portrait */
@media screen and (max-width: 36em) {
     .columns {
    -webkit-column-gap: 100px;
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -webkit-column-width: 100px;
    -moz-column-gap: 100px;
    -moz-column-count: 1; /* Firefox */
    -moz-colimn-width: 80px;
    column-count: 1;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    line-height: 16px;
    }

   header {
        font-size: 12px;
		line-height: 16px;
        margin-left: 16px;
        margin-right: 16px;
    } 

    h1 {
        font-size: 14px;
		line-height: 16px;
    } 
    h5 {
    font-size: 14px;
	line-height: 18px;
}
     
}

@media only print {
    /**
     * When printing, the header is useful but it doesn’t need
     * to be so big
     */
    header h1 {
        font-size: 16px;
        font-style: normal;
    } 
	
	header h4 { 
		font-size: 16px; 
		font-color: red;
	}
    /* And the navigation we don’t need */
    nav {
        display: none;
    }
}
